<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="css/estilos.css">
    <script src="js/custom.js"></script>
    <script src="js/particles.min.js"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<div id="particles-js"></div>
<body>
    <div id="app">
        <div class="logoTitle">
            <h1 class="titulo">TPO FINAL</h1> 
            <img src="img/logo_codo.png" alt="codoacodo" width="100px">        
        </div>
        <h1 class="slogan">Editar Producto</h1>
        <form @submit.prevent="editarProducto" class="caja mrg-bottom" enctype="multipart/form-data">
            <div>
                <label class="modif-label" for="plataformaModificar">Plataforma:</label>
                <input type="text" id="plataformaModificar" v-model="plataforma" required>
            </div>
            <div>
                <label class="modif-label" for="descripcionModificar">Descripción:</label>
                <input type="text" id="descripcionModificar" v-model="descripcion" required>
            </div>
            <div>
                <label class="modif-label" for="cantidadModificar">Cantidad:</label>
                <input type="number" id="cantidadModificar" v-model="cantidad" required>
            </div>
            <div>
                <label class="modif-label" for="precioModificar">Precio:</label>
                <input class="modif-label" type="number" id="precioModificar" v-model="precio" required>
            </div>
            <div class="mb-5 mt-4">
                <label class=" file-label" for="fotoModificar">Foto:</label>
                <span class="btn-span" id="file-label-text">Seleccionar archivo</span>
                <input type="file" id="fotoModificar" class="file-input" @change="cargarFoto">
            </div>
            <button type="submit">Guardar</button>
            <a href="index.html" class="btn-grad ">Menu principal</a>
        </form>
    </div>

    <!-- script para estilo de boton submit -->

    <script>
        const URL = "https://pieroja.pythonanywhere.com/";

        const app = Vue.createApp({
            data() {
                return {
                    codigo: null,
                    plataforma: '',
                    descripcion: '',
                    cantidad: 0,
                    precio: 0,
                    foto: null
                }
            },
            methods: {
                editarProducto() {
                    const formData = new FormData();

                    formData.append('plataformaModificar', this.plataforma);
                    formData.append('descripcionModificar', this.descripcion);
                    formData.append('cantidadModificar', this.cantidad);
                    formData.append('precioModificar', this.precio);

                    if (this.foto) {
                        formData.append('fotoModificar', this.foto);
                    }

                    fetch(URL + `productos/${this.codigo}`, {
                        method: 'PUT',
                        body: formData
                    })
                    .then(response => {
                        if (response.ok) {
                            alert('Producto editado correctamente.');
                            window.location.href = 'listadoFoto.html';
                        } else {
                            throw new Error('Error al editar el producto.');
                        }
                    })
                    .catch(error => {
                        console.log('Error:', error);
                        alert('Error al editar el producto.');
                    });
                },
                obtenerProducto() {
                    const urlParams = new URLSearchParams(window.location.search);
                    this.codigo = urlParams.get('codigo');

                    fetch(URL + `productos/${this.codigo}`)
                    .then(response => response.json())
                    .then(data => {
                        this.codigo = data.codigo;
                        this.plataforma = data.plataforma;
                        this.descripcion = data.descripcion;
                        this.cantidad = data.cantidad;
                        this.precio = data.precio;
                        this.foto = data.foto;
                    })
                    .catch(error => {
                        console.error(error);
                    });
                },
                cargarFoto(event) {
                    const file = event.target.files[0];
                    this.foto = file;                  
                    const fileLabelText = document.getElementById('file-label-text');
                    if (file) {
                        fileLabelText.textContent = file.name;
                    } else {
                        fileLabelText.textContent = 'Seleccionar archivo';
                    }

                }
            },
            mounted() {
                this.obtenerProducto();
            }
        });

        app.mount('#app');
    </script>
    <script src="js/custom.js"></script>
    <script src="js/particles.min.js"></script>
</body>
</html>